* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif; }

header img {
  width: 100px;
  height: 100px; }

header nav {
  background-color: #ddba5a;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      margin: 20px;
      display: inline-block; }
      header nav ul li a {
        text-decoration: none;
        color: #504f4f; }
        header nav ul li a:hover {
          text-decoration: wavy;
          font-size: 15px;
          color: #c76f0a; }

h1 {
  color: #c76f0a;
  font-style: italic;
  letter-spacing: 2px;
  text-align: left;
  font-size: 100px; }

.carousel-inner img {
  height: 80vh; }

.ofertas img {
  width: 200px;
  height: 200px; }

.ofertas h2 {
  margin: 20px;
  font-size: 40px;
  font-style: italic; }

.ofertas div {
  margin: 15px; }
  .ofertas div div {
    width: 200px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f3e9d9;
    display: inline-block;
    justify-content: center; }
    .ofertas div div a {
      text-decoration: none;
      color: white;
      background-color: #d87b23; }

footer {
  display: flex;
  justify-content: space-between;
  background-color: #e2b53a; }
  footer img {
    width: 7vh;
    height: 7vh; }
  footer div {
    justify-content: right;
    align-items: center;
    display: flex; }
    footer div ul {
      list-style: none; }
      footer div ul li {
        display: inline-block;
        margin: 20px; }
        footer div ul li a {
          text-decoration: none;
          font-size: 15px;
          color: #504f4f; }
          footer div ul li a:hover {
            text-decoration: wavy;
            font-size: 15px;
            color: #c76f0a; }

@media screen and (max-width: 902px) {
  footer {
    flex-direction: column; }
  .redireccion {
    flex-direction: column;
    display: flex;
    align-items: center; } }

@media screen and (max-width: 420) {
  .hero img {
    height: 50%; } }

@media screen and (max-width: 352px) {
  .hero {
    height: 25vh; }
    .hero h1 {
      font-size: 25px; }
    .hero p {
      font-size: 15px; } }

@media screen and (max-width: 340px) {
  .ofertas h2 {
    font-size: 26px; } }

@media screen and (max-width: 749px) {
  h1 {
    font-size: 50px; } }

h1, .acerca p, strong {
  display: flex;
  justify-content: center;
  align-items: center; }

strong {
  font-size: 20vh;
  background-color: #e0b746; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px; }

.grid-items {
  transition: transform .2s; }
  .grid-items:hover {
    border: 2px solid brown;
    transform: scale(0.95); }
  .grid-items img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }

.productos div {
  margin: 10px;
  flex-wrap: wrap; }
  .productos div div {
    width: 200px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f3e9d9;
    display: inline-block; }
    .productos div div img {
      width: 200px;
      height: 200px; }
    .productos div div a {
      text-decoration: none;
      color: white;
      background-color: #d87b23; }

.productos h1 {
  color: #c76f0a;
  font-size: 150px;
  font-style: italic;
  background-color: beige; }

.productos h2 {
  margin: 20px;
  font-size: 40px;
  font-style: italic; }

.contacto h1 {
  font-size: 55px;
  font-style: italic;
  display: flex;
  justify-content: center; }

.info h2 {
  font-size: 40px; }

.info p {
  font-size: 20px; }

.contacto-info {
  width: 300px;
  height: 70vh;
  margin: 40px;
  border: 2px solid #eca548;
  background-color: rgba(202, 193, 181, 0.596);
  text-align: center;
  justify-content: flex-start; }
  .contacto-info form {
    justify-content: center; }
