@media screen and (max-width:902px){
    footer{
        
        flex-direction: column;
}

    .redireccion{
        
        flex-direction: column;
        display: flex;
        align-items: center;       
}
}

@media screen and (max-width:420) {
    .hero {
        img{
            height:50%;
        }
        
    }
    .Galeria{
        h1{
            font-size: 55px;
        }
    }

}
@media screen and (max-width:352px) {
    .hero {
        height: 25vh;
        h1{
            font-size: 25px;
        }
        p{           
            font-size: 15px;
        }
    }

}
@media screen and (max-width:340px) {
    .ofertas{
        h2{
            font-size: 26px;
    
        }
    }

}
@media screen and (max-width:420px){
    .ofertas h1{
        font-size: 55px;
        text-align: center;
    }   
}

@media screen and (max-width:830px) {
    .medio{     
        flex-direction: row;   
        img{
        
        visibility: hidden;
        display: none;
    }
}
}

@media screen and (max-width: 530px) {
    .acerca{
        h1{
            font-size: 55px;
        }
    }
    
}
@media screen and (max-width: 500px) {  
    .productos{
        h1{
            font-size: 55px;
        }
        
    }

}
